@import "variables";

.complete {
  width: $content-width;
  &__image {
    width: calc(650px / 2);
    height: calc(1147px / 2);
  }
  &__text {
    font-family: $font-family;
    color: $font-color;
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}