@import "variables";

.confirm {
  width: $content-width;
  &__canvas {
    width: 100%;
    height: calc(1147px / 2);
  }
  &__text {
    font-family: $font-family;
    color: $font-color;
    &__hidden {
      font-family: $font-family;
      display: none;
    }
  }
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__button {
    display: block;
  }
}
