.index {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  &__top {
    display: none;
    &[data-is-scene='top'] {
      display: block;
    }
  }
  &__name {
    display: none;
    &[data-is-scene='name'] {
      display: block;
    }
  }
  &__background {
    display: none;
    &[data-is-scene='background'] {
      display: block;
    }
  }
  &__confirm {
    display: none;
    &[data-is-scene='confirm'] {
      display: block;
    }
  }
  &__complete {
    display: none;
    &[data-is-scene='complete'] {
      display: block;
    }
  }
}