@import "variables";

.name {
  width: $content-width;
  font-family: $font-family;
  color: $font-color;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
  &__error {
    color: red;
    font-family: $font-family;
  }
  &__button {
    pointer-events: auto;
    opacity: 1;
    &[data-isempty='true'] {
      pointer-events: none;
      opacity: 0.5;
    }
    &[data-islimitover='true'] {
      pointer-events: none;
      opacity: 0;
    }
    &[data-isfirstempty='true'] {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}