@import "variables";

.name {
  width: $content-width;
  font-family: $font-family;
  color: $font-color;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 250px;
    height: 50px;
    font-size: 20px;
  }
  &__error {
    &__empty {
      color: red;
      font-family: $font-family;
      display: none;
      &[data-is-empty='true'] {
        display: block;
      }
    }
    &__over {
      color: red;
      font-family: $font-family;
      display: none;
      &[data-is-over='true'] {
        display: block;
      }
    }
  }
  &__button {
    pointer-events: auto;
    opacity: 1;
    &[data-is-empty='true'] {
      pointer-events: none;
      opacity: 0.5;
    }
    &[data-is-over='true'] {
      pointer-events: none;
      opacity: 0;
    }
    &[data-is-first-empty='true'] {
      pointer-events: none;
      opacity: 0.5;
    }
  }
}